* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  height: 72px;
  width: 100%;
  background: #1f2937;

  display: flex;
  align-items: center;
  padding: 0 24px;
}


.logo {
  height: 120px;
  width: auto;
}


.nav-center {
  display: flex;
  gap: 32px;

  margin: 0 auto; 
}

.nav-center a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

.nav-center a:hover {
  color: #38bdf8;
}


.register-btn {
  padding: 9px 22px;
  background: #5ebee8;
  border-radius: 999px;
  color: #0f172a;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}

.register-btn:hover {
  color: #f87238;
  background: #5ebfe89b;
}